<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/list/static/style.css" />
    <title>{% block title %}Hello AR{% endblock %}</title>
    <script src="/list/static/menu.js"></script>
    <script src="/list/static/today.js"></script>
    <script src="/list/static/jquery-1.7.2.min.js"></script>
</head>

<body>

  <div id="title">
    {% block visualtitle %}
    Hello AR
    {% endblock %}
  </div>

  <div id="menu">
    {% block menu %}
    <ul>
      <li><a href="/list/item/">Home</a></li>
      <li><a href="/list/item/add/">Add</a></li>
      {% if not login %}
      <li><a href="/list/auth/logout">Logout</a></li>
      {% endif %}
    </ul>
    {% endblock %}
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
